* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: 35px auto;
  position: relative;
}

.app-title {
  position: absolute;
  z-index: 3;
  top: 245px;
  left: 312px;
  color: white;
}

.container .image {
  border-radius: 35px;
  opacity: 0.4;
  display: block;
}

.black-screen {
  background-color: black;
  border-radius: 35px;
}
